{#
/**
 * @file
 * Void's theme implementation for comments.
 */
#}
{% set classes = [
'comment',
status != 'published' ? 'comment--' ~ status,
comment.owner.anonymous ? 'comment--by-anonymous',
author_id and author_id == commented_entity.getOwnerId() ? 'comment--owner-' ~ commented_entity.getEntityTypeId(),
'clearfix',
] %}
<article role="article"{{ attributes.addClass(classes)|without('role') }}>
  {#
    Hide the "new" indicator by default, let a piece of JavaScript ask the
    server which comments are new for the user. Rendering the final "new"
    indicator here would break the render cache.
  #}
  <span class="hidden" data-comment-timestamp="{{ new_indicator_timestamp }}"></span>
  <div class="comment__header">
    {% if user_picture %}
      <div class="comment__author">
        {{ user_picture }}
      </div>
    {% endif %}
    <div class="comment__meta">
      <span class="author">{{ author }}</span> on
      <span class="time">{{ created }}</span>
      <span class="permalink">{{ permalink }}</span>
      {% if title %}
        {{ title_prefix }}
        <h3 class="title">{{ title }}</h3>
        {{ title_suffix }}
      {% endif %}
    </div>
  </div>
  <div class="comment__content">
    {{ content }}
  </div>

</article>
