{#
/**
 * @file
 * Theme override for displaying a single search result.
 */
#}

<div class="search-result">
  {{ title_prefix }}
  <h3{{ title_attributes.addClass('search-result__title') }}>
    <a href="{{ url }}">{{ title }}</a>
  </h3>
  {{ title_suffix }}
  <div class="search-result__snippet-info">
    {% if snippet %}
      <p{{ content_attributes.addClass('search-result__snippet') }}>{{ snippet }}</p>
    {% endif %}
    {% if info %}
      <p class="search-result__info">{{ info }}</p>
    {% endif %}
  </div>
</div>