/**
 * Content region styles.
 */

.main__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: var(--layout-container);
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;

  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: justify;
  -ms-flex-align: start;
  -ms-flex-flow: column nowrap;
  -ms-flex-pack: justify;
}

@media screen and (min-width: 480px) {
  .main__container {
    flex-flow: row nowrap;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row nowrap;
  }
}

.main__sidebar-first,
.main__sidebar-second {
  flex: 0 1 25%;

  -webkit-box-flex: 0;
  -ms-flex: 0 1 25%;
}

.main__content {
  flex: 1 0 50%;
  margin-right: 30px;
  margin-left: 30px;

  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
}

.main__container--with-left-sidebar > .main__content {
  margin-right: 0;
  margin-left: 0;
}
@media screen and (min-width: 480px) {
  .main__container--with-left-sidebar > .main__content {
    margin-right: 0;
    margin-left: 30px;
  }
}
.main__container--with-right-sidebar > .main__content {
  margin-left: 0;
}

.main__container--without-sidebar > .main__content {
  margin-right: 0;
  margin-left: 0;
}
