/**
 * Featured region styles.
 */

.featured {
  z-index: -1;
  min-height: 300px;
  margin-top: -65px;
  margin-bottom: 30px;
  background: var(--color-secondary);
}

.region-featured {
  max-width: var(--layout-container);
  margin: auto;
  padding-top: 130px;
  padding-right: 15px;
  padding-bottom: 50px;
  padding-left: 15px;
  color: var(--color-very-light-pink);
}

.region-featured a {
  color: var(--color-very-light-pink);
}
