/**
 * Header styles.
 */

.header {
  position: relative;
}

.header__top {
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 55px;
  background: var(--color-primary);
}

.header__top .region {
  max-width: var(--layout-container);
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header__top * {
  color: var(--color-white);
}

.header__branding {
  max-width: calc(var(--layout-container) + 180px);
  margin-top: -35px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  background: var(--color-white);
}

.branding {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  max-width: var(--layout-container);
  margin-right: auto;
  margin-left: auto;

  -webkit-box-align: start;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -ms-flex-align: start;
  -ms-flex-flow: column nowrap;
  -ms-flex-line-pack: center;
  -ms-flex-pack: start;
}

@media screen and (min-width: 480px) {
  .branding {
    flex-flow: row nowrap;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row nowrap;
  }
}

.branding:after {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5px;
  content: "";
  background: var(--color-whitesmoke);
}

.branding .branding__logo {
  flex: 0 0 25%;
  margin-right: 30px;

  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
}

.branding .branding__navigation {
  flex: 1 0 auto;
  height: 100px;

  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
}

.menu--account {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu--account .menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-align: center;
  -ms-flex-flow: row nowrap;
}

.menu--account .menu .menu__item {
  margin-right: 10px;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-small);
}
