/**
 * Highlighted section styles.
 */

.highlighted {
  overflow: hidden;
  max-width: calc(var(--layout-container) + 180px);
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto;
  padding: 20px 15px;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.1);
}

.highlighted__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  max-width: var(--layout-container);
  margin-right: auto;
  margin-left: auto;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: justify;
  -ms-flex-align: center;
  -ms-flex-flow: row nowrap;
  -ms-flex-flow: column nowrap;
  -ms-flex-pack: justify;
}

@media screen and (min-width: 480px) {
  .highlighted__container {
    flex-flow: row nowrap;

    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
    -ms-flex-flow: row nowrap;
  }
}

.highlighted__container > .region {
  flex: 1 0 auto;

  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
}

@media screen and (min-width: 480px) {
  .highlighted__container > .region:first-child {
    margin-right: 20px;
    margin-left: 0;
  }

  .highlighted__container > .region:nth-child(2) {
    margin-right: 20px;
    margin-left: 20px;
  }

  .highlighted__container > .region:last-child {
    margin-right: 0;
    margin-left: 20px;
  }
}
