/**
 * Base styling.
 */

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
  word-wrap: break-word;
  word-break: break-word;
  color: var(--color-text);
  font-family: var(--font-family-secondary);
  font-size: var(--font-size-base-small);
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 768px) {
  body {
    font-size: var(--font-size-base);
  }
}

*:focus {
  outline: solid 2px var(--color-beige);
  outline-offset: 2px;
}
