:root {
  /*General*/
  --border-radius: 3px;
  /* Brand Colors */
  --color-beige: #e0d1be;
  --color-black: #3d3d3d;
  --color-link: #1388c8;
  --color-oldsilver: #82828c;
  --color-pale: #f7ede1;
  --color-primary: #e2413e;
  --color-secondary: #1e518b;
  --color-tertiary: #353b48;
  --color-text: #313130;
  --color-very-light-pink: #fef7ef;
  --color-white: #fff;
  --color-whitesmoke: #f3f4f9;
  /* Font settings */
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Alegreya", serif;
  --font-size-base: 18px;
  --font-size-base-small: 16px;
  --font-size-h1: 48px;
  --font-size-h2: 34px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;
  --font-size-h6: 16px;
  --font-size-lead: 20px;
  --font-size-small: 14px;
  --font-size-title: 26px;
  --font-weight--bold: 800;
  --font-weight--light: 300;
  --font-weight--normal: 400;
  --font-weight--semi-bold: 600;
  /*Layout container*/
  --layout-container: 1200px;
  /*Transition time*/
  --transition-time: 0.25s;
}
