/**
 * Comments styling.
 */

.field--name-comment {
  margin-top: 60px;
}

.comment {
  position: relative;
  margin-bottom: 0;
}

.comment > span:not(.hidden) {
  display: inline-block;
  height: 20px;
  padding: 5px;
  color: var(--color-white);
  background: var(--color-primary);
  font-weight: var(--font-weight--semi-bold);
  line-height: 6px;
}

.comment__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5px;
}

.comment__author {
  margin-right: 20px;
}

.comment__author img {
  max-width: 60px;
  height: auto;
  border-radius: var(--border-radius);
}

.comment__meta {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  color: var(--color-oldsilver);
  font-size: var(--font-size-base-small);
}

.comment__meta .permalink {
  float: right;
}

.comment__meta .title {
  font-size: var(--font-size-lead);
}

.comment__meta .title a.permalink {
  float: none;
  color: var(--color-black);
}

.comment__content p:last-child {
  margin-bottom: 0;
}

.comment__content .links {
  visibility: hidden;
  -webkit-transition: var(--transition-time) all ease-in-out;
  transition: var(--transition-time) all ease-in-out;
  opacity: 0;
  font-size: var(--font-size-small);
}

.comment:hover .comment__content .links {
  visibility: visible;
  opacity: 1;
}

.field--name-comment .indented {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 2px solid var(--color-pale);
}

.comment-form__title {
  margin-top: 42px;
}
