/**
 * Form elements styling.
 */

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--color-oldsilver);
  font-family: var(--font-family-primary);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight--semi-bold);
}

.form-item {
  margin-bottom: 20px;
}

.form-item .description {
  color: var(--color-oldsilver);
  font-size: var(--font-size-small);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="url"],
input[type="search"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px 8px;
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius);
}

@media screen and (min-width: 480px) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="date"],
  input[type="time"],
  input[type="url"],
  input[type="search"],
  input[type="number"],
  textarea {
    width: auto;
  }
}

select,
.select2-selection__rendered {
  padding: 10px 50px 10px 8px;
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius);
  background-image: linear-gradient(45deg, transparent 50%, var(--color-black) 50%),
  linear-gradient(135deg, var(--color-black) 50%, transparent 50%),
  linear-gradient(to right, var(--color-black), var(--color-black));
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(1em + 2px),
  calc(100% - 15px) calc(1em + 2px),
  calc(100% - 2.5em) 0.5em;
  background-size: 5px 5px,
  5px 5px,
  1px 1.5em;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select2-selection {
  height: 100% !important;
  border: 0 !important;
}

.select2-selection .select2-selection__arrow {
  display: none;
}

button,
.button,
.button[type="submit"],
[type="reset"],
[type="submit"] {
  display: inline-block;
  margin: 8px 0 16px;
  padding: 8px 12px;
  -webkit-transition: var(--transition-time) all ease-in-out;
  transition: var(--transition-time) all ease-in-out;
  color: var(--color-pale);
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-radius);
  background: var(--color-secondary);
}

button:hover,
.button:hover,
.button[type="submit"]:hover,
[type="reset"]:hover,
[type="submit"]:hover {
  color: var(--color-secondary);
  background: var(--color-pale);
}

.form-actions {
  margin: 32px 0;
}

fieldset:not(.form-composite) {
  padding: 20px 32px;
  border: 2px solid var(--color-secondary);
  border-radius: var(--border-radius);
  background: var(--color-very-light-pink) !important;
}

fieldset:not(.form-composite) legend,
fieldset:not(.form-composite) legend span,
.fieldgroup:not(.form-composite) legend,
.fieldgroup:not(.form-composite) legend span {
  padding: 8px 12px;
  color: var(--color-pale);
  background: var(--color-secondary);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight--semi-bold);
}

details {
  margin-bottom: 20px;
  border-width: 2px;
  border-color: var(--color-very-light-pink);
}

details summary {
  padding: 12px 25px;
  color: var(--color-secondary);
  background: var(--color-very-light-pink);
  font-weight: var(--font-weight--semi-bold);
}

input[type="radio"]:checked,
input[type="radio"]:not(:checked),
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label,
input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  position: relative;
  display: inline-block;
  padding-left: 28px;
  cursor: pointer;
  color: var(--color-black);
  line-height: 20px;
}

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  border: 2px solid var(--color-secondary);
  border-radius: 100%;
  background: var(--color-very-light-pink);
}

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  -webkit-transition: all var(--transition-time) ease;
  transition: all var(--transition-time) ease;
  border-radius: 100%;
  background: var(--color-secondary);
}

input[type="radio"]:not(:checked) + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  -webkit-transform: scale(0);
  transform: scale(0);
  opacity: 0;
}

input[type="radio"]:checked + label:after,
input[type="checkbox"]:checked + label:after {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "";
  border: 2px solid var(--color-secondary);
  background: var(--color-very-light-pink);
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  content: "";
  -webkit-transition: all var(--transition-time) ease;
  transition: all var(--transition-time) ease;
  background: var(--color-secondary);
}

.form-composite > legend,
.form-composite > legend span {
  padding: 0;
  color: var(--color-oldsilver);
  background: none;
}
