/**
 * Login block and page styling.
 */

.block--user-login-block {
  margin-bottom: 40px;
  padding: 15px;
  border: 1px solid var(--color-beige);
  border-radius: var(--border-radius);
  background: var(--color-very-light-pink);
}

.user-login-form input[type="text"],
.user-login-form input[type="password"] {
  width: 100%;
}

.user-login-form .form-actions,
.user-login-form .button {
  width: 100%;
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.block--user-login-block .item-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  list-style: none;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -ms-flex-flow: row nowrap;
}

.block--user-login-block .item-list ul li {
  flex: 1 0 auto;
  margin: 0;
  font-size: var(--font-size-small);

  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
}

.block--user-login-block .item-list ul li:first-child {
  margin-right: 10px;
  border-right: 1px solid var(--color-oldsilver);
}
