/**
 * Main menu styles.
 */

.menu--main {
  line-height: 100px;
}

.menu--main .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 20px;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-flow: row nowrap;
  -ms-flex-pack: start;
}

.menu--main .menu .menu__item {
  margin: 0;
}

.menu--main .menu .menu__item a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  font-family: var(--font-family-primary);
  font-weight: 500;
}

.menu--main .menu .menu__item a:after {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  content: "";
  -webkit-transition: var(--transition-time) background-color ease-in-out;
  transition: var(--transition-time) background-color ease-in-out;
  background-color: transparent;
}

.menu--main .menu .menu__item a.is-active {
  color: var(--color-primary);
}

.menu--main .menu .menu__item a:hover:after,
.menu--main .menu .menu__item a.is-active:after {
  background-color: var(--color-primary);
}

.menu--main .menu__item-expanded > .menu {
  display: none;
}

.menu--main .menu__item-expanded:hover > .menu {
  position: absolute;
  z-index: 1;
  display: block;
  flex-flow: column nowrap;
  min-width: 200px;
  margin: 0;
  background: var(--color-white);
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1), 0 8px 30px rgba(0, 0, 0, 0.1);

  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -ms-flex-flow: column nowrap;
}

.menu--main .menu__item-expanded > .menu .menu__item {
  height: auto;
  margin: 0;
  line-height: 3;
}

.menu--main .menu__item-expanded > .menu .menu__item a:hover:after {
  background-color: transparent;
}
