/**
 * Search related styles.
 */

.block-search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 18px;

  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -ms-flex-align: center;
  -ms-flex-flow: row nowrap;
  -ms-flex-pack: start;
}

.block-search .form-item {
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid var(--color-beige);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.block-search .form-search {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  width: 100%;
  height: auto;
  margin: 0 80px 0 0;
  padding: 7px 8px;
  color: var(--color-text);
  border: 2px solid var(--color-white);
  font-size: var(--font-size-small);
  line-height: normal;
}

.block-search .form-actions {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  border: 2px solid var(--color-beige);
  border-left: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.block-search .form-submit {
  margin: 0;
  padding: 0.6em 1.25em 0.4em;
  color: var(--color-black);
  border: 2px solid var(--color-beige);
  border-radius: 0;
  background-color: var(--color-beige);
  font-size: 0.875rem;
}
