/**
 * Local task tabs styling.
 */

.block--local-tasks-block {
  margin-top: 12px;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.block--local-tasks-block .tabs,
.block--local-tasks-block li {
  margin: 0;
  font-family: var(--font-family-primary);
}

.block--local-tasks-block .tabs.primary {
  margin-bottom: 12px;
  border-bottom: 2px solid var(--color-secondary);
}


.block--local-tasks-block .tabs.primary a.is-active {
  color: var(--color-very-light-pink);
  background: var(--color-secondary);
}

.block--local-tasks-block li a {
  color: var(--color-black);
}

.block--local-tasks-block .tabs.secondary {
  margin-bottom: 20px;
  font-size: var(--font-size-small);
}
