/**
 * Node styling.
 */

.node.node--view-mode-teaser {
  margin-bottom: 30px;
  padding: 20px 30px;
  -webkit-transition: all var(--transition-time) ease-in-out;
  transition: all var(--transition-time) ease-in-out;
  border: 1px solid rgba(247, 237, 225, 0.15);
  border-radius: 2px;
}

.node.node--view-mode-teaser:hover {
  -webkit-box-shadow: 0 0 32px var(--color-pale);
  box-shadow: 0 0 32px var(--color-pale);
}

.node__header {
  margin-bottom: 10px;
}

.node__meta {
  color: var(--color-oldsilver);
  font-size: var(--font-size-small);
}

.node__title {
  margin: 10px 0 20px;
  font-size: var(--font-size-title);
  line-height: 1;
}

.node__content {
  display: block;
  overflow: hidden;
}

.node__content .field--name-field-image {
  float: left;
  margin-right: 20px;
}

.node__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.node__footer .field--name-field-tags {
  display: inline-block;
  float: left;
  clear: both;
  overflow: hidden;
  max-width: 45%;
  margin-top: 20px;
}

.node__footer .field--name-field-tags .field__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  justify-content: flex-start;

  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -ms-flex-flow: row nowrap;
  -ms-flex-pack: start;
}

.node__footer .field--name-field-tags .field__item {
  margin-right: 10px;
}

.node__footer .node__links {
  float: right;
  overflow: hidden;
  margin-top: 20px;
}

.node-readmore a {
  display: inline-block;
  padding: 8px 16px;
  color: var(--color-very-light-pink);
  border-radius: var(--border-radius);
  background: var(--color-secondary);
  font-weight: var(--font-weight--bold);
}

.node__content .field--name-comment {
  clear: both;
  overflow: hidden;
}
