/**
 * Search page styling.
 */


.search-form .form-wrapper {
  margin-bottom: 32px;
}

.search-form label {
  display: block;
}

.search-help-link {
  text-decoration: underline;
  text-transform: uppercase;
  color: var(--color-oldsilver);
  font-family: var(--font-family-primary);
  font-size: calc(var(--font-size-small) - 4px);
  font-weight: var(--font-weight--semi-bold);
}

.search-advanced {
  margin-top: 2px;
}

.search-results {
  padding: 0;
  list-style: none;
}

.search-results li {
  margin-left: 0;
}

.search-result {
  margin-bottom: 20px;
  padding: 12px;
  border: 2px solid var(--color-whitesmoke);
  border-radius: var(--border-radius);
  background: var(--color-whitesmoke);
}

.search-result__info {
  margin-top: 15px;
  font-size: var(--font-size-small);
}

.search-result__info a {
  text-decoration: underline;
}
